<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="header">
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->

    <title>Giggle</title>

    <!-- Custom styles for this template-->
    <link href="static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
</head>
</html>