<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="hotPost">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Hot posts</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <table class ="table table-hover table-striped">
                    <tbody>
                    <tr th:each="hotPost : ${hotPostList}">
                        <td style="width:15%;">
                           <span class="hotPostBtn" th:text ="${hotPost.post.likeCnt}">
                               0
                          </span>
                        </td>
                        <td style="white-space: nowrap;">
                            <a th:href="${'/post/read?post='+hotPost.post.id}" th:text="${hotPost.post.title}">Title</a>
                        </td>
                        <td style="white-space: nowrap; width:20%;" th:text="${hotPost.post.writerName}">writer</td>
                        <td style="width:15%;">
                            <img class="img-profile rounded-circle" th:src="${'/static/profile/'+hotPost.post.profileImg}"
                                 style="height: 28px;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>