<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div th:fragment="newPost">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">New Posts</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <table class ="table table-hover table-striped">
                    <tbody>
                    <tr th:each="post : ${newPostList}">
                        <td style="width:15%; color:dodgerblue;" th:text ="${'#'+post.id}">1</td>
                        <td style="white-space:nowrap;">
                            <a th:href="${'/post/read?post='+post.id}" th:text="${post.title}">Title</a>
                        </td>
                        <td style="white-space:nowrap; width:20%;" th:text="${post.writerName}">study</td>
                        <td style="width:15%;">
                            <img class="img-profile rounded-circle" th:src="${'/static/profile/'+post.profileImg}"
                                 style="height: 28px;">
                        </td>

                    </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>