<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!-- Topbar Navbar -->
<th:block th:fragment="shortCut">
    <th:block th:each="shortCut : ${shortCutList}">
        <!--https://stackoverflow.com/questions/29140647/setting-css-style-attributes-with-thymeleaf-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2"
                 th:style="'border-left-color : '+@{${shortCut.color}}+'!important; border-left-width: 0.25rem; border-left:solid'">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1" th:style="'color:'+@{${shortCut.color}}+';'"
                                 th:text="${shortCut.description}">About notice</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${shortCut.title}">Notice</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>