<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <!-- Sidebar -->
    <ul th:fragment="sideBar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand align-items-center justify-content-center" th:href="@{/main}"
           style=" font-size: 23px;
                     font-weight: normal;
                      text-align: center;
                      text-transform: none;">
            <div class="">Giggle</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- DashBoard -->
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/main}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Categories -->
        <div th:each = "mainCategory : ${mainCategoryList}">
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Main category -->
            <div class="sidebar-heading"
                 style="
                         font-weight: normal;
                          text-align: center;
                          text-transform: none;"
                th:text = ${mainCategory.name}>
                Market
            </div>

            <!-- Community List -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item"  >
                <div th:each="middleCategory, index : ${mainCategory.middleCategoryList}">
                    <!-- middle category -->
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" th:data-target="${'#'+middleCategory.name+index.index}" aria-expanded="true">
                        <i class="fas fa-fw fa-cog"></i>
                        <span th:text="${middleCategory.name}"></span>
                    </a>

                    <!-- popUp :: category-->
                    <div th:id="${middleCategory.name+index.index}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Categories:</h6>
                            <div th:each="category : ${middleCategory.categoryList}">
                                    <a class="collapse-item" th:text="${category.name}" th:href="${'/post/board?category='+ category.id+'&page=1'}">
                                        Study
                                    </a>
                            </div>
                            <a class="collapse-item" th:href="${'/category/create/category?mainCategory='+mainCategory.id+'&middleCategory='+middleCategory.id}">Ad) Create Category</a>
                        </div>
                    </div>
                </div>

                <a class="nav-link" th:href="${'/category/create/middleCategory?mainCategory='+mainCategory.id}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ad) create Middle Category</span>
                </a>
            </li>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item">
            <a class="nav-link" th:href="${'/category/create/mainCategory'}">
                <i class="fas fa-fw fa-table"></i>
                <span>Ad) Create Main Category</span>
            </a>

            <a class="nav-link" th:href="${'/category/delete/mainCategory'}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Ad) delete Main Category</span>
            </a>

            <a class="nav-link" th:href="${'/category/delete/middleCategory'}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Ad) delete Middle Category</span>
            </a>

            <a class="nav-link" th:href="${'/category/delete/category'}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Ad) delete Category</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</html>