
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 500px;
}
.container{
    margin-top: 3%;
}

 .font-black{
color:black;
}

 .text-left{
 text-align:initial;

 .middleMenuName{
   font-size: 25px;
   text-align: left;
   color: black;
   font-weight: 900;
 }
}

