<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <style>
        .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 500px;
        }
        .container{
            margin-top: 3%;
        }
    </style>
</head>

<body class="text-center">
<div class="container">
    <br>
    <h3>Giggle</h3>
    <br>
    <p th:if="${message} == null" >Create Main Category</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>
    <form class="form" th:action="${'/category/create/mainCategory'}"method="post">
        <input type="text" name="name" class="form-control" placeholder="name">
        <br>
        <input type="text" name="description" class="form-control" placeholder="description">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>
</body>
</html>