<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div>
    <h3>Giggle</h3>
    <p>createPost</p>
    <form th:action="@{/post/create}" method="post">
        <table>
            <tr>
                <td>category</td>
                <td>
                    <input type="text" readonly name ="category" th:placeholder="${category}" th:value="${category}">
                </td>
            </tr>
            <tr>
                <td>title</td>
                <td>
                    <input type="text" name = "title" placeholder="title">
                </td>
            </tr>
            <tr>
                <td>content</td>
                <td>
                    <textarea type="text" name ="content" placeholder="content.."></textarea>
                </td>
            </tr>

        </table>
        <br>
        <button type="submit" >Enter</button>
    </form>
</div>
</body>
</html>