<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">

    <link href="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\SBadmin2\sb-admin-2.min.css" rel="stylesheet">
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery-3.5.1.js"></script>
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery.twbsPagination.min.js"></script>

</head>

<body class="text-center">
<div class="container">
    <br>
    <h3 class="font-black">Giggle</h3>
    <br>
    <p class="font-black" th:if="${message} == null" >Edit short cut</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>

    <div style="
    font-size: 25px;
    text-align: left;
    color: black;
    font-weight: 900;
    ">아이콘 추가</div>

    <form class="form text-left" action="/main/edit/shortCut/add" method="post">


        <select id="selectedCategory" class="form-control" name="selectedCategory">
            <option value="none" selected disabled>=== 선택 ===</option>
            <div th:each="mainCategory, index_main : ${mainCategoryList}">
                <option style="font-size:18px; font-weight:500; color:black;" disabled th:text="${mainCategory.name}">mainCategory</option>

                <div th:each="middleCategory,index_mid : ${mainCategory.middleCategoryList}">
                    <option style="font-size:16px; color:black;" disabled th:utext="${'&amp;nbsp;&amp;nbsp;&amp;nbsp;'+middleCategory.name}">middleCategory</option>

                    <div th:each="category, index_cat : ${middleCategory.categoryList}">
                        <option style="font-size:14px; color: darkslategray;" th:value="${category.name}" th:utext="${'&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;'+category.name}">category</option>
                    </div>
                </div>
                <option th:if="${index_main.count!=index_main.size}" disabled> </option>
            </div>
        </select>
        <br>
        <input id="description" type="text" class="form-control" required name="description" placeholder="Description">
        <br>
        <input id="color" type="text" class="form-control" required name="color" placeholder="Choose color">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">적용</button>
    </form>
    <br>
    <br>
<!--    <div style="-->
<!--    font-size: 25px;-->
<!--    text-align: left;-->
<!--    color: black;-->
<!--    font-weight: 900;-->
<!--    ">아이콘 제거</div>-->
<!--    <br>-->
<!--    <form class="form text-left " action="/main/edit/imgBoard/delete" method="get">-->
<!--        <select name="imageFiles" class="form-control" multiple>-->
<!--            <th:block th:each="image : ${mainBoardImg}">-->
<!--                <option th:value="${image.id}" th:text="${image.fileName}" >fileName</option>-->
<!--            </th:block>-->
<!--        </select>-->
<!--        <br>-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">적용</button>-->
<!--    </form>-->
    <br>
    <br>
    <div style="
    font-size: 25px;
    text-align: left;
    color: black;
    font-weight: 900;
    ">미리 보기</div>
    <input type="Button" value="미리보기 적용" onclick="addForm()">
    <div id="addedFormDiv"></div><BR> <!-- 폼을 삽입할 DIV -->
    <br>
    <div th:replace="/fragment/mainImgBoard :: mainImgBoard"></div>
</div>

<style>
</style>

<script type="text/javascript">

<!--   var limitCnt =  /*[[${limitAdditionImgCnt}]]*/ 5;-->

   function addForm(){
     var selectForm = document.getElementById("selectedCategory");
     var selectedCategoryName = selectForm.options[selectForm.selectedIndex].value;
     var description = document.getElementById("description");
     var color = document.getElementById("color");
     var str = "";
     str+="<br>미리 보기 ::<div class='col-xl-3 col-md-6 mb-4'><div class='card border-left-success shadow h-100 py-2'><div class='card-body'>";
     str+="<div class='row no-gutters align-items-center'><div class='col mr-2'><div class='text-xs font-weight-bold text-success text-uppercase mb-1'>Free conversation</div>";
     str+="<div class='h5 mb-0 font-weight-bold text-gray-800'>";
     str+=selectedCategoryName;
     str+="</div></div></div></div></div></div>";

     // 추가할 폼(에 들어갈 HTML)
     var addedDiv = document.createElement("div"); // 폼 생성
     addedDiv.id = "added_"; // 폼 Div에 ID 부여 (삭제를 위해)
     addedDiv.innerHTML  = str; // 폼 Div안에 HTML삽입
     addedFormDiv.appendChild(addedDiv); // 삽입할 DIV에 생성한 폼 삽입
   }
</script>

<!-- BottomScript-->
<div th:replace="/fragment/bottomScript :: bottomScript"> </div>

</body>
</html>

