<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">

    <link href="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\SBadmin2\sb-admin-2.min.css" rel="stylesheet">
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery-3.5.1.js"></script>
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery.twbsPagination.min.js"></script>

</head>

<body class="text-center">
<div class="container">
    <br>
    <h3 class="font-black">Giggle</h3>
    <br>
    <p class="font-black" th:if="${message} == null" >Edit DashBoard</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>

    <div style="
    font-size: 25px;
    text-align: left;
    color: black;
    font-weight: 900;
    ">Board 추가</div>
    <br>
    <form class="form text-left" action="/main/edit/dashBoard/add" method="post">
        <label for="type">type</label>
        <select id="type" class="form-control" name="type">
            <option value="none" selected disabled>Select type</option>

            <option value="img">Img Board</option>
            <option value="latestPost">Latest Post</option>
            <option value="freePost">Free Post</option>
        </select>
        <br>
        <label for="width">width</label>
        <select id="width" class="form-control" name="width">
            <option value="none" selected disabled>Select width</option>

            <option value="narrow">narrow</option>
            <option value="wide">wide</option>
        </select>
        <br>
        <label for="height">height</label>
        <select id="height" class="form-control" name="height">
            <option value="none" selected disabled>Select height</option>

            <option value="short">short</option>
            <option value="long">long</option>
        </select>
        <br>
        <div style="font-size: 25px;text-align: left;color: black;font-weight: 900;">미리 보기</div>
        <br>
        <div id="exampleFormDiv">
            <div class="row">
                <div id="card_width" class="col-xs-6 col-lg-6" style="padding-right: 0px;padding-left: 0px;">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Latest notice</h6>
                            </div>
                            <div id="card_height" class="card-body short-board-body">
                                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                                <a target="_blank" rel="nofollow" href="https://undraw.co/">See that notice →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">적용</button>
    </form>
    <br>
    <div style="font-size: 25px;text-align: left;color: black; font-weight: 900;">아이콘 삭제</div>
    <br>
</div>
<style>
</style>

<script type="text/javascript">

   const selectTypeForm = document.getElementById("type");
   const selectWidthForm = document.getElementById("width");
   const selectHeightForm = document.getElementById("height");

   const card_width = document.getElementById("card_width");
   const card_height = document.getElementById("card_height");


   selectTypeForm.addEventListener('change', (event) => {
      var selectedType = selectTypeForm.options[selectTypeForm.selectedIndex].text.trim();

    });


   selectWidthForm.addEventListener('change', (event) => {
      var selectedWidth = selectWidthForm.options[selectWidthForm.selectedIndex].text.trim();
      if(selectedWidth == 'wide'){
        card_width.classList.remove('col-lg-6');
        card_width.classList.add('col-lg-12')
      }
      else{
         card_width.classList.remove('col-lg-12');
        card_width.classList.add('col-lg-6')
      }
    });

   document.addEventListener('keydown', function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
      };
    }, true);
</script>

<!-- BottomScript-->
<div th:replace="/fragment/bottomScript :: bottomScript"> </div>

</body>
</html>

