<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">
    <script src="/static/script/jquery-3.5.1.js"></script>
    <script src="/static/myScript/nameCheck.js"></script>
</head>

<body class="text-center">
<div class="container">
    <br>
    <h3 class="font-black">Giggle</h3>
    <br>
    <p class="font-black" th:if="${message} == null" >Join</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>
    <form th:if="${joinForm}==null" class="form text-left" onsubmit="return checkField()" th:action="@{/member/join}" method="post">
        <label for="name">name</label>
        <button type="button" style="float:right; font-size:12px;" onclick="checkNameDuplicate()" class="btn">중복 확인</button>
        <input type="text" id ="name" name="name" class="form-control" placeholder="name" required="">
        <br>
        <label for="email">email</label>
        <button type="button" style="float:right; font-size:12px;" onclick="sendAuthMail()" class="btn">인증 메일 전송</button>
        <input type="text" id ="email" name="email" class="form-control" placeholder="email" required="">
        <br>
        <label for="emailCheck">인증 번호</label>
        <input type="text" id ="emailCheck" name="emailCheck" class="form-control" placeholder="emailCheck" required="">

        <br>
        <label for="id">id</label>
        <button type="button" style="float:right; font-size:12px;" onclick="checkIdDuplicate()" class="btn">중복 확인</button>
        <!--button의 타입설정 안하면, 폼 submit됨-->
        <input type="text" id = "id" name="loginId" class="form-control" placeholder="Id" required="" autofocus="">
        <br>
        <label for="pw">pw</label>
        <span id="checkPwText" style="font-size: 12px;color: red;float: right;padding-right: 10px;padding-top: 5px;"></span>
        <input type="text" id="pw" name="loginPw" class="form-control" placeholder="Pw" required="">

        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
    </form>

    <form th:if="${joinForm}!=null" class="form text-left" onsubmit="return checkField()" th:action="@{/member/join}" method="post">
        <label for="name">name</label>
        <button type="button" style="float:right; font-size:12px;" onclick="checkNameDuplicate()" class="btn">중복 확인</button>
        <input type="text" id ="name" name="name" th:value="${joinForm.name}" class="form-control" placeholder="name" required="">
        <br>
        <label for="email">email</label>
        <button type="button" style="float:right; font-size:12px;" onclick="sendAuthMail()" class="btn">인증 메일 전송</button>
        <input type="text" id ="email" name="email" th:value="${joinForm.email}" class="form-control" placeholder="email" required="">
        <br>
        <label for="emailCheck">인증 번호</label>
        <input type="text" id ="emailCheck" name="emailCheck" class="form-control" placeholder="emailCheck" required="">

        <br>
        <label for="id">id</label>
        <button type="button" style="float:right; font-size:12px;" onclick="checkIdDuplicate()" class="btn">중복 확인</button>
        <input type="text" id = "id" name="loginId" th:value="${joinForm.loginId}" class="form-control" placeholder="Id" required="" autofocus="">
        <br>
        <label for="pw">pw</label>
        <span id="checkPwText" style="font-size: 12px;color: red;float: right;padding-right: 10px;padding-top: 5px;"></span>
        <input type="text" id="pw" name="loginPw" th:value="${joinForm.loginPw}" class="form-control" placeholder="Pw" required="">

        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
    </form>
</div>
</body>
</html>

<script>
        var checkDuplicatedId = false;
        var checkDuplicatedName = false;
        var checkSendEmail = false;

            function checkField(){
                if(checkDuplicatedName == false){
                    alert('이름 중복 확인이 필요합니다.')
                    return false;
                }

                 if(checkDuplicatedId == false){
                    alert('Id 중복 확인이 필요합니다.')
                    return false;
                }


                if(checkSendEmail == false){
                    alert('이메일 확인이 필요합니다.')
                    return false;
                }

                if(idPatternCheck('id')== false){return false;}

                if(memberNameCheck('name')== false){ return false;}

                if(pwPatternCheck('pw')== false){return false;}

                if(memberNameCheck('nickName')== false){return false;}

                return true;
            }

            var oldVal = '';
            $("#pw").on("change keyup paste", function() {
                var currentVal = $(this).val();
                if(currentVal == oldVal) {
                    return;
                }
                oldVal = currentVal;
                checkPw();
            });

            function checkPw(){
                var pw = document.getElementById('pw').value;
                var pwText = document.getElementById('checkPwText');

                if(pw.length == 0){
                    pwText.innerHTML  = '';
                    return;
                }

                if(pw.length < 5 || pw.length > 12) {
                    pwText.innerHTML  = "비밀번호는 5자리 이상, 12자리 이하로 구성";
                    pwText.style.color = "red";
                    return;
                }

                var patternNum = /[0-9]/;
                var patternChar = /[a-zA-Z]/;
                var patternSpe = /[~!@#$%^&*()_+|<>?:{}]/;

                if(!patternNum.test(pw) || !patternChar.test(pw)){
                     pwText.innerHTML  = "비밀번호는 문자, 숫자를 포함";
                     pwText.style.color = "red";
                    return false;
                }

                pwText.innerHTML  = "사용 가능";
                pwText.style.color = "blue";
            }

            function email_check(email) {
                var regex=/([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                return (email != '' && email != 'undefined' && regex.test(email));
            }


            function sendAuthMail(){
                var member_email = document.getElementById("email").value;

                if(!email_check(member_email)){
                    alert('이메일 형식을 확인하세요.');
                    return;
                }
                var data = {
                     email : member_email
                }

                $.ajax({
                    url: "/member/join/sendAuthMail",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: data,
                    success: function(data){
                        if(data == 'success'){
                            checkSendEmail = true;
                            alert('이메일 확인 후, 인증 번호를 기입해주시길 바랍니다.');
                        }
                        else{
                            alert('이미 사용 중인 이메일입니다.');
                        }
                    },
                    error: function (request, status, error){
                      var msg = "ERROR : " + request.status + "\n"
                      msg +=  + "Content : " + request.responseText + "\n" + error;
                      alert(msg);
                      console.log(msg);
                    }
                });
            }


            function checkIdDuplicate(){
                var member_id = document.getElementById("id").value;

                var data = {
                     loginId : member_id
                }

                $.ajax({
                    url: "/member/join/checkIdDuplicate",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: data,
                    success: function(data){
                        if(data == 'ok'){
                            checkDuplicatedId = true;
                            alert('사용 가능한 Id 입니다.');
                        }
                        else{
                            alert('이미 사용 중인 Id 입니다.');
                        }
                    },
                    error: function (request, status, error){
                      var msg = "ERROR : " + request.status + "\n"
                      msg +=  + "Content : " + request.responseText + "\n" + error;
                      alert(msg);
                      console.log(msg);
                    }
                });
            }

            function checkNameDuplicate(){
                var member_name = document.getElementById("name").value;

                var data = {
                     name : member_name
                }

                $.ajax({
                    url: "/member/join/checkNameDuplicate",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: data,
                    success: function(data){
                        if(data == 'ok'){
                            checkDuplicatedName = true;
                            alert('사용 가능한 이름 입니다.');
                        }
                        else{
                            alert('이미 사용 중인 사용자 이름입니다. ');
                        }
                    },
                    error: function (request, status, error){
                      var msg = "ERROR : " + request.status + "\n"
                      msg +=  + "Content : " + request.responseText + "\n" + error;
                      alert(msg);
                      console.log(msg);
                    }
                });
            }

</script>
