<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <style>
        .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 500px;
        }
        .container{
            margin-top: 3%;
        }
    </style>
</head>

<body class="text-center">
<div class="container">
    <br>
    <h3>Giggle</h3>
    <br>
    <form class="form" th:action="@{/member/login}" method="post">

        <p th:if="${message} == null" >Welcome</p>
        <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
        <br>
        <input type="text" name="loginId" class="form-control" placeholder="Id" required="" autofocus="">
        <br>
        <input type="text" name="loginPw" class="form-control" placeholder="Password" required="">
        <br>
        <table width="100%">
        <tr>
            <td width="50%">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </td>
            <td width="50%">
                <button class="btn btn-lg btn-primary btn-block" type="button" th:onclick = "location.href='/member/join'">Join</button>
            </td>
        </tr>
        </table>
        <!--<p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
    </form>
</div>
</body>
</html>