
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <div th:replace="/fragment/header :: header"> </div>

    <style>

        .card{
            border-radius : 0;
        }

        <!--    <link href="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\SBadmin2\sb-admin-2.min.css" rel="stylesheet">-->
        <!--    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery-3.5.1.js"></script>-->
        <!--    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery.twbsPagination.min.js"></script>-->

        .myButton{
            color:lightslategray;
            text-decoration:none;
        }

        .myButton:link{
            color:lightslategray;
            text-decoration:none;
        }

        .myButton:visited{
            color:lightslategray;
            text-decoration:none;
        }

        .myButton:hover{
            color:lightslategray;
            text-decoration:none;
        }

        .myButton:active{
            color:lightslategray;
            text-decoration:none;
        }

        .modal-body{
            font-size: 14px;
        }

        .comment-writer{
            font-size: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .comment-subButton{
            margin-right: 15px;
            float: left;
            font-size:13px;
        }

        .comment-content{
            line-height: 25px;
            font-size: 15px;
            color: black;
            padding-top: 5px;
        }

        .post-writer{
                font-size:15px;padding-top:2px;
        }

        .profileImg{
            border-radius: 15%!important;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- sideBar :: communityList, communityNameList -->
    <div th:replace="/fragment/sideBar :: sideBar"> </div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- topBar :: loginId -->
            <div th:replace="/fragment/topBar :: topBar"> </div>

            <!-- article_content -->
            <div class="article_content" style=" max-width: 1412px; padding-left: 10px; padding-right: 10px;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow" style="border:1px solid lightgray;">
                            <div class="card-header align-items-center " style="padding-top: 14px;padding-bottom: 4px;">
                                <img th:src="${'/static/profile/'+post.profileImg}" class="profileImg picture large" style="margin-right: 15px; width: 40px; float: left; height: 40px;">
                                <span class="post-writer" th:text="${post.writer}"></span>

                                <!-- writer status -->
                                <ul th:if="${post.writer == session.loginId || session.authority == 'master'}" class="status" style="list-style: none;float: right; padding-top: 10px; margin-bottom: 0px; font-size: 10px;">
                                    <li style="margin-right: 15px; float: left;">
                                        <a class="myButton" th:href="'/post/edit?post='+${post.id}"><span>수정</span></a>
                                    </li>
                                    <li style="margin-right: 15px;float: left;">
                                        <a class="myButton" href="#" data-toggle="modal" data-target="#deletePostModal" >
                                            <span>삭제</span>
                                        </a>
                                        <!-- assert delete Post -->
                                        <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deletePostLabel">Do you really want to delete this post?</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">Select "Delete" below if you are ready to delete this.</div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                        <a class="btn btn-primary" th:href="'/post/delete?post='+${post.id}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <br>
                                <time style="font-size:8px" th:text="${#temporals.format(post.dateTime,'yyyy-MM-dd HH:mm:ss')}">2020.08.27</time>
                            </div>
                            <!-- post content -->
                            <form>
                                <a class="post_content_box" style="font-size:12px; padding-top:2px;">
                                    <br>
                                    <div class="article" style="padding-left: 15px; margin-right:15px; color:black;">
                                        <div style="font-weight: 500; font-family:initial; font-size:20px;" th:text="${post.title}">스프링 질문이요</div>
                                        <br>
                                        <div class="post_content" th:utext="${post.content}" style="line-height: 25px; font-size:15px;">
                                            servlet이랑 jsp를 막 공부하고 온 학생입니다.
                                        </div>
                                    </div>
                                    <br>
                                    <ul class="status" style="list-style: none;">
                                        <li title="공감" class="vote" style="
                                            float: right;
                                            padding-right: 0px;
                                            margin-right: 15px;
                                        "> like : 0</li>
                                        <li title="댓글" class="comment" style="
                                            float: right;
                                            margin-right: 15px;
                                            margin-bottom: 10px;
                                        " th:text="${'comment : '+post.commentList.size()}"> comment : 0</li>
                                    </ul>
                                </a>
                            </form>
                            <br>
                            <div th:if="${session.loginId} != null" class="comment_input_box">
                                <a class="myButton" href="#" data-toggle="modal" data-target="#inputCommentModal">
                                    <input type="text" class="form-control" readonly placeholder="댓글 입력" style="background-color: white; border-top-width: 0.1px;  border-top-color: lightgray;border-bottom: white; border-right: white;border-left: white; border-radius:0; font-size:12px;">
                                </a>

                                <!-- create comment form -->
                                <div>
                                    <div class="modal fade" id="inputCommentModal" tabindex="-1" role="dialog" aria-labelledby="inputCommentLabel" aria-modal="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form class="form" th:action="@{/comment/create}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="inputCommentLabel">Comment..</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <input hidden name="postId" th:value="${post.id}">
                                                    <textarea class="form-container" name="content" placeholder="Comment..."
                                                              style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary" type="submit" >Enter</button>
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment_level1" th:each="comment_level1 : ${post.commentList}">
                <!-- comment_content -->
                <div th:if="${comment_level1.level == 1}" style="max-width: 1412px; margin-top:5px; padding-left: 10px; padding-right: 10px;">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="card ">
                                <form>
                                    <div class="card-header align-items-center" style="background-color: white; border:none;">
                                        <img th:src="${'/static/profile/'+comment_level1.profileImg}" class="propicture large" style="margin-right: 15px;width: 40px;float: left;height: 40px;">
                                        <span class="comment-writer" th:text="${comment_level1.writer}">익명</span>
                                        <ul th:if="${comment_level1.writer == session.loginId || session.authority == 'master'}" class="status" style="list-style: none;float: right;margin-bottom: 0px;font-size: 10px;">
                                            <li class="comment-subButton">
                                                <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#editCommentModal'+comment_level1.id}">
                                                    <span>수정</span>
                                                </a>
                                            </li>
                                            <li class="comment-subButton">
                                                <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#deleteCommentModal'+comment_level1.id}">
                                                    <span>삭제</span>
                                                </a>

                                                <!-- assert delete comment -->
                                                <div>
                                                    <div class="modal fade" th:id="${'deleteCommentModal'+comment_level1.id}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteCommentLabel">Do you really want to delete this comment?</h5>
                                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">Select "Delete" below if you are ready to delete this.</div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                    <a class="btn btn-primary" th:href="${'/comment/delete?comment='+comment_level1.id}">Delete</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <span><br></span>
                                        <time th:text="${#temporals.format(comment_level1.dateTime,'yyyy-MM-dd HH:mm:ss')}" style="float: left;font-size:8px;" >2020-08-30 13:25:16</time>
                                        <span style="line-height: 8px;"><br></span>
                                        <div class="post_comment comment-content" th:utext="${comment_level1.content}">
                                            comment_content
                                        </div>
                                        <br>
                                        <a class="myButton" th:if="${session.loginId != null && comment_level1.live == true}" href="#" data-toggle="modal" th:data-target="${'#commentModal'+comment_level1.id}">
                                            <span style="padding-right:10px; font-size:14px; float:right; padding-bottom:5px;">comment</span>
                                        </a>
                                    </div>
                                </form>

                                <!-- comment toggle -->
                                <div>
                                    <div class="modal fade" th:id="${'commentModal'+comment_level1.id}" tabindex="-1" role="dialog" aria-labelledby="inputCommentLabel_level2" aria-modal="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form class="form" th:action="@{/comment/create}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="inputCommentLabel_level2" th:text="${'Comment : '+comment_level1.content}">Comment..</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <input hidden name="postId" th:value="${post.id}">
                                                    <input hidden name="commentId" th:value="${comment_level1.id}">
                                                    <textarea class="form-container" name="content" placeholder="Comment..." style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary" type="submit" >Enter</button>
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- edit comment form -->
                                <div>
                                    <div class="modal fade" th:id="${'editCommentModal'+comment_level1.id}" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel" aria-modal="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form class="form" th:action="${'/comment/edit?comment='+comment_level1.id}" method="post">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"  id="editCommentLabel">Comment..</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <textarea class="form-container" name="content" th:text="${comment_level1.content}" style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary" type="submit" >Enter</button>
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment_level2" th:each="comment_level2 : ${comment_level1.subComment}">
                    <div th:if="${comment_level2.level==2}" style="max-width: 1392px;margin-top:5px;padding-left: 10px;padding-right: 10px;margin-left: 20px;">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="card ">
                                    <form>
                                        <div class="card-header align-items-center" style="border:none; background-color: white;">
                                            <img th:src="${'/static/profile/'+comment_level2.profileImg}" class="profileImg picture large" style="margin-right: 15px;width: 40px;float: left;height: 40px;">
                                            <span class="comment-writer" th:text="${comment_level2.writer}">익명</span>
                                            <ul th:if="${comment_level2.writer == session.loginId || session.authority == 'master'}" class="status" style="list-style: none;float: right;margin-bottom: 0px;font-size: 13px;">
                                                <li class="comment-subButton">
                                                    <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#editCommentModal'+comment_level2.id}">
                                                        <span>수정</span>
                                                    </a>
                                                </li>
                                                <li class="comment-subButton">
                                                    <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#deleteCommentModal'+comment_level2.id}">
                                                        <span>삭제</span>
                                                    </a>
                                                    <!-- assert delete comment -->
                                                    <div>
                                                        <div class="modal fade" th:id="${'deleteCommentModal'+comment_level2.id}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel2" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteCommentLabel2">Do you really want to delete this comment?</h5>
                                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">Select "Delete" below if you are ready to delete this.</div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                        <a class="btn btn-primary" th:href="${'/comment/delete?comment='+comment_level2.id}">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <span><br></span>
                                            <time th:text="${#temporals.format(comment_level2.dateTime,'yyyy-MM-dd HH:mm:ss')}" style="float: left;font-size:8px;" >2020-08-30 13:25:16</time>
                                            <span style="line-height: 8px;"><br></span>
                                            <div class="post_comment comment-content" th:utext="${comment_level2.content}">
                                                comment_content
                                            </div>
                                            <br>
                                            <a th:if="${session.loginId !=null && comment_level2.live==true}" class="myButton" href="#" data-toggle="modal" th:data-target="${'#commentModal'+comment_level2.id}">
                                                <span style="padding-right:10px; font-size:14px; float:right; padding-bottom:5px;">comment</span>
                                            </a>
                                        </div>
                                    </form>
                                    <!-- comment level2 toggle -->
                                    <div>
                                        <div class="modal fade" th:id="${'commentModal'+comment_level2.id}" tabindex="-1" role="dialog" aria-labelledby="inputCommentLabel_level3" aria-modal="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form class="form" th:action="@{/comment/create}" method="post">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="inputCommentLabel_level3" th:text="${'Comment : '+comment_level2.content}">Comment..</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <input hidden name="postId" th:value="${post.id}">
                                                        <input hidden name="commentId" th:value="${comment_level2.id}">
                                                        <textarea class="form-container" name="content" placeholder="Comment..." style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="submit" >Enter</button>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- edit comment form -->
                                    <div>
                                        <div class="modal fade" th:id="${'editCommentModal'+comment_level2.id}" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel2" aria-modal="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form class="form" th:action="${'/comment/edit?comment='+comment_level2.id}" method="post">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editCommentLabel2">Comment..</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <textarea class="form-container" name="content" th:text="${comment_level2.content}" style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" type="submit" >Enter</button>
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="comment_level3" th:each="comment_level3 : ${comment_level2.subComment}">
                        <div th:if="${comment_level3.level==3}" style="max-width: 1392px;margin-top:5px;padding-left: 30px;padding-right: 10px;margin-left: 20px;">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="card ">
                                        <form>
                                            <div class="card-header align-items-center" style="border:none; background-color: white;">
                                                <img th:src="${'/static/profile/'+comment_level3.profileImg}" class="profileImg picture large" style="margin-right: 15px;width: 40px;float: left;height: 40px;">
                                                <span class="comment-writer" th:text="${comment_level3.writer}">익명</span>
                                                <ul th:if="${comment_level3.writer == session.loginId || session.authority == 'master'}" class="status" style="list-style: none;float: right;margin-bottom: 0px;font-size: 10px;">
                                                    <li class="comment-subButton">
                                                        <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#editCommentModal'+comment_level3.id}">
                                                            <span>수정</span>
                                                        </a>
                                                    </li>
                                                    <li class="comment-subButton">
                                                        <a class="myButton" href="#" data-toggle="modal" th:data-target="${'#deleteCommentModal'+comment_level3.id}">
                                                            <span>삭제</span>
                                                        </a>

                                                        <!-- assert delete comment -->
                                                        <div>
                                                            <div class="modal fade" th:id="${'deleteCommentModal'+comment_level3.id}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel3" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="deleteCommentLabel3">Do you really want to delete this comment?</h5>
                                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">Select "Delete" below if you are ready to delete this.</div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                            <a class="btn btn-primary" th:href="${'/comment/delete?comment='+comment_level3.id}">Delete</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <span><br></span>
                                                <time th:text="${#temporals.format(comment_level3.dateTime,'yyyy-MM-dd HH:mm:ss')}" style="float: left;font-size:8px;" >2020-08-30 13:25:16</time>
                                                <span style="line-height: 8px;"><br></span>
                                                <div class="post_comment comment-content" th:utext="${comment_level3.content}">
                                                    comment_content
                                                </div>
                                                <br>
                                            </div>
                                        </form>

                                        <!-- edit comment form -->
                                        <div>
                                            <div class="modal fade" th:id="${'editCommentModal'+comment_level3.id}" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel3" aria-modal="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <form class="form" th:action="${'/comment/edit?comment='+comment_level3.id}" method="post">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editCommentLabel3">Comment..</h5>
                                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <textarea class="form-container" name="content" th:text="${comment_level3.content}" style="width: 100%; border: 0.5px solid lightgray;margin-top: 0px;margin-bottom: 0px;padding-left: 8px;padding-right: 8px;padding-top: 8px;" rows="15"></textarea>
                                                            <div class="modal-footer">
                                                                <button class="btn btn-primary" type="submit" >Enter</button>
                                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="/fragment/footer :: footer"> </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<div th:replace="/fragment/scrollButton :: scrollButton"> </div>

<!-- Logout Modal-->
<div th:replace="/fragment/logoutModal :: logoutModal"> </div>

<!-- BottomScript-->
<div th:replace="/fragment/bottomScript :: bottomScript"> </div>

</body>
</html>
