<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">
</head>

<body class="text-center">
<div class="container">
    <br>
    <h3 class="font-black">Test</h3>
    <br>
    <form class="form text-left" th:action="@{/test}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">

        <table width="100%">
            <tr>
                <td width="50%">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">upload</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>