<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">
    <script src="/static/script/jquery-3.5.1.js"></script>


    <link href="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\SBadmin2\sb-admin-2.min.css" rel="stylesheet">
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery-3.5.1.js"></script>
    <script src="C:\Users\user\IdeaProjects\Giggle\src\main\resources\static\script\jquery.twbsPagination.min.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body class="text-center">
<div class="container">
    <br>
    <h3 class="font-black">Giggle</h3>
    <br>
    <p class="font-black" th:if="${message} == null" >User management</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>

    <div class="searchbox">
        <div class="header">
            <h1>Search</h1>
            <input onchange="filter()" type="text" id="search" placeholder="Type to Search">
        </div>



        <div class="container">
            <div class="item">
                <span class="name">Apple</span>
            </div>

            <div class="item">
                <span class="name">Orange</span>
            </div>

            <div class="item">
                <a class="name" href="#" onclick="select(this);">Mandarin</a>
            </div>

            <div class="item">
                <span class="name" >Strawberry</span>
            </div>

            <div class="item">
                <span class="name">Watermelon</span>
            </div>

            <div class="item">
                <span class="name">Grape</span>
            </div>

            <div class="item">
                <span class="name">Pear</span>
            </div>

            <div class="item">
                <span class="name">Cherry</span>
            </div>
        </div>

        <body>
        <!-- body 부분 -->
        <input id="searchInput">
        </body>


    </div>
</div>
</body>

<script type="text/javascript">

        $("#search").on("change keyup paste", function() {
            var currentVal = $(this).val();
            if(currentVal == oldVal) {
                return;
            }

            oldVal = currentVal;
            alert("changed!");
        });


      function filter(){

        var search, name, item, i;
        search = document.getElementById("search").value.toUpperCase();
        item = document.getElementsByClassName("item");

        for(i=0;i<item.length;i++){
          name = item[i].getElementsByClassName("name");
          if(name[0].innerHTML.toUpperCase().indexOf(search) > -1){
            item[i].style.display = "flex";
          }else{
            item[i].style.display = "none";
          }
        }
      }

      function select(target){

            searchInput = document.getElementById("search");
            searchInput.value = target.text;

            alert(target.text);
	        target.style.color="red";
      }
</script>

<script>
    $(function() {    //화면 다 뜨면 시작
        var searchSource = ["김치 볶음밥", "신라면", "진라면", "라볶이", "팥빙수","너구리","삼양라면","안성탕면","불닭볶음면","짜왕","라면사리" ]; // 배열 형태로
        $("#searchInput").autocomplete({  //오토 컴플릿트 시작
            source : searchSource,    // source 는 자동 완성 대상
            select : function(event, ui) {    //아이템 선택시
                console.log(ui.item);
            },
            focus : function(event, ui) {    //포커스 가면
                return false;//한글 에러 잡기용도로 사용됨
            },
            minLength: 1,// 최소 글자수
            autoFocus: true, //첫번째 항목 자동 포커스 기본값 false
            classes: {    //잘 모르겠음
                "ui-autocomplete": "highlight"
            },
            delay: 500,    //검색창에 글자 써지고 나서 autocomplete 창 뜰 때 까지 딜레이 시간(ms)
//            disabled: true, //자동완성 기능 끄기
            position: { my : "right top", at: "right bottom" },    //잘 모르겠음
            close : function(event){    //자동완성창 닫아질때 호출
                console.log(event);
            }
        });

    });
</script>

</html>