<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Giggle</title>
    <link href="/static/SBadmin2/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/style/formStyle.css" rel="stylesheet">
    <script src="/static/script/jquery-3.5.1.js"></script>

    <script src="/static/myScript/nameCheck.js"></script>
</head>

<body class="text-center">
<div class="container" style="margin-bottom : 50px">
    <br>
    <h3 class="font-black">Giggle</h3>
    <br>
    <p class="font-black" th:if="${message} == null" >User Setting</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <br>

    <p class="font-black">프로필</p>

<!--    <img id="thumbnail" style="height:200px;" th:src="${'/static/file/profile/'+member.profileImg}">-->
    <img id="thumbnail" style="height:200px;" th:src="${@environment.getProperty('s3.path')+'/profile/'+member.profileImg}">
    <br>
    <br>
    <form class="form text-left" action="/member/setting/profileImg" method="post" enctype="multipart/form-data">
        <input type="text" hidden th:value="${member.id}" name="id">

        <a style="display:none;" id="deleteProfileBtn" class="btn" onclick="deleteProfile()">사진 제거</a>
        <input type="file" id="addProfileBtn" name="profileImg" accept="image/*" onchange="setThumbnail(event);"/>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">적용</button>
    </form>

    <script>
    function setThumbnail(event){
         var img;
         var reader = new FileReader();
         reader.onload = function(event){
             var thumbnail = document.getElementById("thumbnail");
             thumbnail.src = event.target.result;
             <!--이미지 업로드 미리보기-->
         };
         reader.readAsDataURL(event.target.files[0]);

         var addProfileBtn = document.getElementById("addProfileBtn");
         var deleteProfileBtn = document.getElementById("deleteProfileBtn");

         if(addProfileBtn.value == ""){
           deleteProfileBtn.style.display = 'none';
            addProfileBtn.style.display =  'block';
         }
         else{
            deleteProfileBtn.style.display = 'block';
            addProfileBtn.style.display =  'none';
         }

        <!--  visible = hidden  -> 공간은 존재-->
        <!--  display = none -> 공간조차 존재x-->
    }

    function deleteProfile(){
        var thumbnail = document.getElementById("thumbnail");
        thumbnail.src = "/static/profile/default.png";

        var addProfileBtn = document.getElementById("addProfileBtn");
        var deleteProfileBtn = document.getElementById("deleteProfileBtn");

        addProfileBtn.value = "";

        deleteProfileBtn.style.display = 'none';
        addProfileBtn.style.display =  'block';
    }
    </script>


    <br>
    <br>
    <p class="font-black">기본 정보</p>
    <br>
    <form class="form text-left" th:action="@{/member/setting/memberInfo}" method="post">
        <label for="id">id</label>
        <input type="text" id="id" th:value="${member.loginId}" disabled name="loginId" class="form-control" >
        <br>
        <label for="email">email</label>
        <input type="text" id="email" th:value="${member.email}" disabled name="email" class="form-control" >
        <br>
        <label for="name">name</label>
        <button type="button" style="float:right; font-size:12px;" onclick="checkNameDuplicate()" class="btn">중복 확인</button>
        <input type="text" id ="name" name="name" th:value="${member.name}" class="form-control" placeholder="name" required="">
        <br>
        <table width="100%">
            <tr>
                <td width="100%">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <p class="font-black" th:if="${message} == null" >Change Password</p>
    <p style="color:red" th:if="${message} != null"  th:text="${message}"></p>
    <form class="form text-left" onsubmit="return changePw()"  th:action="@{/member/setting/pw}" method="post">
        <label for="pw_now">현재 Pw</label>
        <input type="text" id="pw_now" name="pwNow" class="form-control" placeholder="Password" required="">
        <br>
        <label for="pw_new">새로운 pw</label>
        <input type="text" id="pw_new" name="pwNew" class="form-control" placeholder="Input new Password" required="">
        <br>
        <label for="pw_re">새로운 pw</label>
        <input type="ow" id="pw_re" name="pwRe" class="form-control" placeholder="Input new Password" required="">
        <br>
        <table width="100%">
            <tr>
                <td width="100%">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
</div>
</body>

<script>
    function changePw(){
         var pw_new = document.getElementById('pw_new').value;
         var pw_re = document.getElementById('pw_re').value;

         if(pw_new != pw_re){
            alert('새로운 비밀번호 확인 불일치');
            return false;
         }

         if(pwPatternCheck('pw_new') == false){
            return false;
         }
    }

    function checkNameDuplicate(){
        var member_name = document.getElementById("name").value;

        var data = {
             name : member_name
        }

        $.ajax({
            url: "/member/join/checkNameDuplicate",
            type: "POST",
            cache: false,
            dataType: "json",
            data: data,
            success: function(data){
                if(data == 'ok'){
                    alert('You can use this name');
                }
                else{
                    alert('This name is already used');
                }
            },
            error: function (request, status, error){
              var msg = "ERROR : " + request.status + "\n"
              msg +=  + "Content : " + request.responseText + "\n" + error;
              alert(msg);
              console.log(msg);
            }
        });
    }

</script>
</html>